# Learn about CODEOWNERS:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files
* @user

# Extension core
src/extension.ts @user
src/types/ @user

# Services
src/services/ @user

# Commands
src/commands/ @user

# Tests
test/ @user
